<div class="page">
  <h1>Score</h1>

  <div class="result">
    <p><%= @result[:message] %></p>
    <p><%= @result[:time] %></p>
    <p><%= @result[:score] %></p>
  </div>
</div>

<%= link_to "Want to try again ?", new_path %>
